---
import { type HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  label: string;
  name: string;
  value: string;
}
const { label, name, value } = Astro.props;
---

<div class="grid grid-cols-2 gap-4">
  <label for={name}>{label}</label>
  <input
    type="text"
    value={value}
    name={name}
    id={name}
    class="border border-solid border-white px-1"
  />
</div>
